doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href="/manifest.json")
    link(rel="apple-touch-icon" href="/images/icons/icon-144x144.png")
    meta(name="theme-color" content="#317EFB")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://kit.fontawesome.com/a076d05399.js')

    //link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    //link(rel='stylesheet', href='/stylesheets/font-awesomefree.css')
    block style
    block script
  body
    block content
    noscript
      p Javascript is required to use videocalling
