extends layout

block style
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='https://localhost:8443/test/css/demo.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css')

block script
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js')
    script(type='text/javascript' src='https://localhost:8443/test/janus.js')
    script(type='text/javascript' src='https://localhost:8443/test/videocalltest.js')
    script.
        $(function () {
            $(".navbar-static-top").load("https://localhost:8443/janus/navbar.html", function () {
                $(".navbar-static-top li.dropdown").addClass("active");
                $(".navbar-static-top a[href='http://localhost:8443/janus/videocalltest.html']").parent().addClass("active");
            });
            $(".footer").load("janus/footer.html");
        });


block content
    a(href='https://github.com/meetecho/janus-gateway')
        img(style='position: absolute; top: 0; left: 0; border: 0; z-index: 1001;' src='https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png' alt='Fork me on GitHub')
    nav.navbar.navbar-default.navbar-static-top
    .container
        .row
            .col-md-12
                .page-header
                    h1
                        | Plugin Demo: Video Call
                        button#start.btn.btn-default(autocomplete='off') Start
                #details.container
                    .row
                        .col-md-12
                            h3 Demo details
                            p
                                | This Video Call demo is basically an example of how you can achieve a
                                | scenario like the famous AppRTC demo but with media flowing through Janus. It
                                | basically is an extension to the Echo Test demo, where in this case the media
                                | packets and statistics are forwarded between the two involved peers.
                            p
                                | Using the demo is simple. Just choose a simple username to register
                                | at the plugin, and then either call another user (provided you know
                                | which username was picked) or share your username with a friend and
                                | wait for a call. At that point, you&apos;ll be in a video call with the
                                | remote peer, and you&apos;ll have the same controls the Echo Test demo
                                | provides to try and control the media: that is, a button to mute/unmute
                                | your audio and video, and a knob to try and limit your bandwidth. If
                                | the browser supports it, you&apos;ll also get a view of the bandwidth
                                | currently used by your peer for the video stream.
                            p
                                | If you&apos;re interested in testing how simulcasting can be used within
                                | the context of this sample videocall application, just pass the
                                code ?simulcast=true
                                |  query string to the url of this page and
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;reload it. If you&apos;re using a browser that does support simulcasting
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;(Chrome or Firefox) and the call will end up using VP8, you&apos;ll
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;send multiple qualities of the video you&apos;re capturing. Notice that
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;simulcasting will only occur if the browser thinks there is enough
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;bandwidth, so you&apos;ll have to play with the Bandwidth selector to
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;increase it. New buttons to play with the feature will automatically
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;appear for your peer; at the same time, if your peer enabled simulcasting
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;new buttons will appear for you when watching the remote stream. Notice that
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;no simulcast support is needed for watching, only for publishing.
                            p
                                | A very simple chat based on Data Channels is available as well:
                                | just use the text area under your local video to send messages
                                | to your peer. Incoming messages will be displayed below the
                                | remote video instead.
                            p
                                | Press the
                                code Start
                                |  button above to launch the demo.
                #videocall.container.hide
                    .row
                        .col-md-12
                            #login.col-md-6.container.hide
                                .input-group.margin-bottom-sm
                                    span.input-group-addon
                                        i.fa.fa-user.fa-fw
                                    input#username.form-control(type='text' placeholder='Choose a username' autocomplete='off' onkeypress='return checkEnter(this, event);')
                                button#register.btn.btn-success.margin-bottom-sm(autocomplete='off') Register
                                span#youok.hide.label.label-info
                            #phone.col-md-6.container.hide
                                .input-group.margin-bottom-sm
                                    span.input-group-addon
                                        i.fa.fa-phone.fa-fw
                                    input#peer.form-control(type='text' placeholder='Who should we call?' autocomplete='off' onkeypress='return checkEnter(this, event);')
                                button#call.btn.btn-success.margin-bottom-sm(autocomplete='off') Call
                        div
                            #videos.hide
                                .col-md-6
                                    .panel.panel-default
                                        .panel-heading
                                            h3.panel-title
                                                | Local Stream
                                                .btn-group.btn-group-xs.pull-right.hide
                                                    button#toggleaudio.btn.btn-danger(autocomplete='off') Disable audio
                                                    button#togglevideo.btn.btn-danger(autocomplete='off') Disable video
                                                    .btn-group.btn-group-xs
                                                        button#bitrateset.btn.btn-primary.dropdown-toggle(autocomplete='off' data-toggle='dropdown')
                                                            | Bandwidth
                                                            span.caret
                                                        ul#bitrate.dropdown-menu(role='menu')
                                                            li
                                                                a#0(href='#') No limit
                                                            li
                                                                a#128(href='#') Cap to 128kbit
                                                            li
                                                                a#256(href='#') Cap to 256kbit
                                                            li
                                                                a#512(href='#') Cap to 512kbit
                                                            li
                                                                a#1024(href='#') Cap to 1mbit
                                                            li
                                                                a#1500(href='#') Cap to 1.5mbit
                                                            li
                                                                a#2000(href='#') Cap to 2mbit
                                        #videoleft.panel-body
                                    .input-group.margin-bottom-sm
                                        span.input-group-addon
                                            i.fa.fa-cloud-upload.fa-fw
                                        input#datasend.form-control(type='text' placeholder='Write a DataChannel message to your peer' autocomplete='off' onkeypress='return checkEnter(this, event);' disabled='')
                                .col-md-6
                                    .panel.panel-default
                                        .panel-heading
                                            h3.panel-title
                                                | Remote Stream
                                                span#callee.label.label-info.hide
                                                span#curres.label.label-primary.hide
                                                span#curbitrate.label.label-info.hide
                                        #videoright.panel-body
                                    .input-group.margin-bottom-sm
                                        span.input-group-addon
                                            i.fa.fa-cloud-download.fa-fw
                                        input#datarecv.form-control(type='text' disabled='')
